$white: rgb(255, 255, 255);
$white1: #edeef1;
$white2: #EDEEF1;
$default-color: #222;
$not-importent: #a5a5a5;
$blue: #56AFE2;
$blue1: #4695C8;

$content-width: 900px;

$transition: all 0.3s ease-in-out 0s