<footer class="footer">
  
  <div>Theme <span class="codename">icer</span> designed by <a href="https://ice.gs/" target="_blank">GGICE</a></div>
  <div>&copy; <a href="/"><%= config.title %></a></div>
  
</footer>

